<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFER Disaster Prediction and Recovery Solutions</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="stylesheet" href="/static/css/style.css">




</head>
<body>
<header class="header">
    <a href="#" class="logo">
        <img src="/static/images/logo.png" alt="">
    </a>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/home/#services">Support & Services</a>
        <a href="/home/#About">About</a>
        <a href="/home/#Contact">Contact</a>
    </nav>
    <nav class="navbar1">
        <a href="#overview">Overview</a>
        <div class="menu-bar">
            <ul>
                <li><a href="#">Disasters  <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="/drought">Drought</a></li>
                            <li><a href="/flood">Floods</a></li>
                            <li><a href="/cyclone">Cyclones</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#resources">Resources</a>
    </nav>
    <div class="icon">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-user" id="user-icon"></div>
    </div>
</header>



<!--header ends -->

<!-- home section starts-->
<section class="flood" id="flood">
    <div class="content">'
       <h1> FLOODS</h3>
       <p>Floods are frequent and devastating natural disasters caused by heavy rainfall, storms, or melting snow.
         They reshape landscapes and communities, impacting both urban and rural areas.
         <br> Our mission is to understand floods and implement effective strategies for mitigation.
        
    </div>

</section>

<!--home section ends-->
<!--Information section starts-->

<section class="flood1"id="flood1">
    <h1 class="heading"><span>Flood</span> Public Information Map</h1>
    <div class="box-container">
        <div class="box">
            <img src="/static/images/floodpredc.jpg"alt="">
            <h3>Analysis</h3>
            <a href="/map"class="btn">Get Flood Graphs & Analysis Maps</a>
        </div>

        <div class="box">
            <img src="/static/images/flood2.jpeg"alt="">
            <h3>Prediction</h3>
            <a href="/floodpredict"class="btn">Get Flood Prediction Status</a>
        </div>
    </div>
    
</section>

<script src="/static/js/script.js"></script>
</body>
</html>